body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Audiowide', monospace;
}
a {
    color: lightblue;
}
canvas {
    max-width: calc(100vw - 20px);
    background-color: black;
}